<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-07-09-translator.md</string>
		</array>
		<array>
			<string>Sample.md</string>
		</array>
		<array>
			<string>2016-07-10-format-aiml.md</string>
		</array>
		<array>
			<string>2016-06-25-hello-new-world.md</string>
		</array>
		<array>
			<string>2016-06-26-Project1104-an-ios-developer.md</string>
		</array>
		<array>
			<string>2016-06-26-Project626-an-python-developer.md</string>
		</array>
		<array>
			<string>2016-06-29-Project629-cables-toolbox.md</string>
		</array>
		<array>
			<string>2016-07-02-Project56-IELTS.md</string>
		</array>
		<array>
			<string>2016-07-03-Project703-gitbook.md</string>
		</array>
		<array>
			<string>2016-07-03-Project612-github.md</string>
		</array>
	</array>
</dict>
</plist>
